[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NMcalc"]
	path = NMcalc
	url = https://github.com/philipdelff/nmcalc
[submodule "NMdata"]
	path = NMdata
	url = https://github.com/philipdelff/nmdata
[submodule "NMsim"]
	path = NMsim
	url = https://github.com/philipdelff/nmsim
[submodule "tracee"]
	path = tracee
	url = https://github.com/philipdelff/tracee
